/* CONTEÚDO GERAL */

@font-face {
    font-family: Sen;
    src: url(font/Sen-Regular.ttf);
}

body {
    background-color: #2C508A;
    margin: 0;
    font-family: "Sen";
}

.logotipo {
    padding: 0.5vw;
    margin-left: 2vw;
    width: 9vw;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.conteudo {
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo h1 {
    font-size: 6vw;
    color: white;
    margin-inline: 50px;
    
}

.container-login {
    text-align: center;
    background-color: white;
    padding: 40px;
}

.container-login h4 {
    font-size: 17px;
    margin: 4px;
    color: #3970c9;
}

.container-login p {
    font-size: 15px;
    margin: 4px;
    color: rgb(65, 65, 65);
}

.botao-entrar {
    text-align: center;
    display: inline-block;
    background-color: #3970c9;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.9s ease;
    width: 150px;
    margin: 10px;
}

/* AGENDAMENTO.HTML */

.container-01 {
    background-color: white;
    margin: 50px;
    width: 80%;
    height: 70%;
    position: absolute;
    border-radius: 20px;
}

